name: Deploy Project
on:
  push: {}
jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
    - name: Get code
      uses: actions/checkout@v3
    - name: Install NodeJs
      uses: actions/setup-node@v3
    - name: Install dependencies
      run: npm ci
    - name: run tests
      run: npm test
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Get code
      uses: actions/checkout@v3
    - name: Install NodeJs
      uses: actions/setup-node@v3
    - name: Install dependencies
      run: npm ci
    - name: Build Project
      run: npm run build
    - name: Deploying
      run: echo "deploying..."
